<header class="site-header">
  <div class="header-top">
    <div class="site-title" routerLink="/">
      Drug Empire
    </div>
  </div>

  <nav class="main-nav">
    <div class="nav-left">
      @if (!currentUser) {
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      }

      @if (currentUser) {
        <span>hej, {{ currentUser.username }}</span>
        <button type="button" (click)="logout()">Logout</button>
      }
    </div>

    <div class="nav-right">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/category" routerLinkActive="active">Category</a>
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </nav>
</header>